---
---


{{reference}}


  <span class="links">
  {% if entry.abstract %}
    [<a class="abstract">Abs</a>]
  {% endif %}
  {% if entry.arxiv %}
    [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv <i class="ai ai-open-access"></i></a>]
  {% endif %}
  {% if entry.ssrn %}
    [<a href="http://ssrn.com/abstract={{ entry.ssrn }}" target="_blank">SSRN <i class="ai ai-open-access"></i></a>]
  {% endif %}
  {% if entry.perma %}
    [<a href="https://perma.cc/{{ entry.perma }}" target="_blank">Perma.cc <i class="ai ai-open-access"></i></a>]
  {% endif %}
  {% if entry.doi %}
    [<a href="https://doi.org/{{ entry.doi }}" target="_blank">doi</a>]
  {% endif %}
  {% if entry.html %}
    [<a href="{{ entry.html }}" target="_blank">HTML</a>]
  {% endif %}
  {% if entry.pdf %}
    [<a href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF <i class="ai ai-open-access"></i></a>]
  {% endif %}
  {% if entry.supp %}
    [<a href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>]
  {% endif %}
  {% if entry.bibtex %}
  {% if entry.type != "misc" %}
  <pre><code>{{ entry.bibtex }}</code></pre>
  {% endif %}
  {% endif %}
  {% if entry.poster %}
    [<a href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>]
  {% endif %}
  {% if entry.slides %}
    [<a href="{{ entry.slides }}ws" target="_blank">Slides</a>]
  {% endif %}
  {% if entry.code %}
    [<a href="{{ entry.code }}" target="_blank">Code</a>]
  {% endif %}
  {% if entry.video %}
    [<a href="{{ entry.video }}" target="_blank">Video</a>]
  {% endif %}
  </span>

  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <span class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </span>
  {% endif %}
